.bluegenesProteinAtlasTissueExpressionVisualizer {
  // put all your css classes inside this block. Keeping them
  // nested under the tool name prevents your styles from
  // leaking out and affecting other elements by accident.

  // If you want to learn more about LESS, visit lesscss.org.

  // to build your css, run `lessc src/style.css dist/style.css --clean-css`
  // in your terminal


  // this is just an example class for root div element, you may modify or delete it as per your usecase
	.rootContainer {
		border: 1px solid black;
		padding: 20px;
	}

	.result-row-container {
		display: flex;
		align-items: center;

		// overall result
		.item:nth-child(1) {
			margin-right: 20px;
			width: 10%;
		}

		// organ name
		.item:nth-child(2) {
			margin-right: 20px;
			max-width: 40%;
		}

		// cell types
		.item:nth-child(3) {
			margin-right: 20px;
			width: 10%;
		}

		// antibody staining
		.item:nth-child(4) {
			margin-right: 20px;
			width: 40%;
		}
	}
}
