.bluegenesProteinAtlasTissueExpressionVisualizer {

	.rootContainer {
		border: 1px solid black;
		padding: 8px 20px;
		font-family: sans-serif;
		.title {
			text-align: center;
			background: lightgreen;
			padding: 4px;
		}
	}

	.error {
		font-size: 22px;
		font-weight: 300;
		text-align: center;
	}

	.result-row-container {
		font-size: 12px;

		// organ name
		.item:nth-child(2) {
			max-width: 400px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		// antibody staining
		.item:nth-child(4) {
			display: flex;
		}
	}
}
